@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  border-radius: 15px;
  text-align: center;
  color:black;
  width: 125px;
  height: 50px;
  font-size: 50px;
  padding: 25px;
  margin: 15px;
}

textarea {
  width: 400px;
  margin: 15px;
  text-align: center;
  border-width: 1px;
}


html {
  font-family: "Inter", sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}